* {
    box-sizing: border-box;
}

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

a:link {
    text-decoration:none;
}
    
a:visited {
    text-decoration:none;
}
    
a:hover {
    text-decoration:underline;
}

.background {
    height: auto; /* Alterado para altura automática para se ajustar ao conteúdo */
    background: #139DF2;
}

body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-track {
    background: #139DF2;
}

body::-webkit-scrollbar-thumb {
    background-color: #f9f9f9;
    border-radius: 12px;
    border: 3px solid #139DF2;
}

.header {
    display: flex;
    width: 100%; /* Alterado para 100% para ocupar a largura total */
    height: 56px;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: #f9f9f9;
}

.Text-Header {
    color: var(--Azul-Escuro, #0F71F2);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Logo-Header {
    width: 35px;
    height: 32px;
    flex-shrink: 0;
}

.About {
    display: flex;
    width: 100%;
    height: auto; /* Alterado para altura automática */
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 2%; /* Ajustado para um valor menor */
    flex-shrink: 0;
}


@media (min-width: 921px) {

    .About {
        display: flex;
        width: 100%;
        height: auto; /* Alterado para altura automática */
        padding: 8px 0px;
        justify-content: center;
        align-items: center;
        gap: 2%; /* Ajustado para um valor menor */
        flex-shrink: 0;
        margin-top: 55px;
        margin-bottom: 55px;
    }
    
    .square-image {
        display: flex;
        width: 40%;
        height: 'auto';
        max-width: 301.5px; 
        border-radius: 14px;
        background: #0F71F2;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.50);
        justify-content: center;
        align-items: flex-end;
    }

    .Photo1 {
        width: 50%;
        height: 'auto';
    }

    .text-about {
        display: flex;
        width: 25%;
        height: auto; 
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1%; 
        flex-shrink: 0;
    }

    .name-about {
        width: 100%; 
        height: auto; 
        flex-shrink: 0;
        color: #EBECEC;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .description-about {
        width: 100%; 
        height: auto; 
        flex-shrink: 0;
        color: #EBECEC;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media (max-width: 920px) and (min-width: 621px) {
    
    .About {
        display: flex;
        width: 100%;
        height: auto; /* Alterado para altura automática */
        padding: 8px 0px;
        justify-content: center;
        align-items: center;
        gap: 2%; /* Ajustado para um valor menor */
        flex-shrink: 0;
        margin-top: 55px;
        margin-bottom: 55px;
    }

    .square-image {
        display: flex;
        width: 40%; /* Alterado para uma porcentagem */
        height: 'auto';
        max-width: 301.5px; /* Adicionado max-width para limitar o tamanho máximo */
        border-radius: 14px;
        background: #0F71F2;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.50);
        justify-content: center;
        align-items: flex-end;
    }

    .Photo1 {
        width: 50%;
        height: 'auto';
        /* min-height: 282.93px;
        min-width: 175.2px; */
    }

    .text-about {
        display: flex;
        width: 40%;
        height: auto; /* Alterado para altura automática */
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1%; /* Ajustado para um valor menor */
        flex-shrink: 0;
    }

    .name-about {
        width: 100%; 
        height: auto; /* Alterado para altura automática */
        flex-shrink: 0;
        color: #EBECEC;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .description-about {
        width: 100%; /* Alterado para largura de 100% */
        height: auto; /* Alterado para altura automática */
        flex-shrink: 0;
        color: #EBECEC;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media (max-width: 620px) and (min-width: 321px) {
    
    .About {
        display: flex;
        width: 100%;
        height: auto; /* Alterado para altura automática */
        padding: 8px 0px;
        justify-content: center;
        align-items: center;
        gap: 2%; /* Ajustado para um valor menor */
        flex-shrink: 0;
        margin-top: 55px;
        margin-bottom: 55px;
    }

    .square-image {
        display: flex;
        width: 40%; /* Alterado para uma porcentagem */
        height: 'auto';
        max-width: 301.5px; /* Adicionado max-width para limitar o tamanho máximo */
        border-radius: 14px;
        background: #0F71F2;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.50);
        justify-content: center;
        align-items: flex-end;
    }

    .Photo1 {
        width: 50%;
        height: 'auto';
        /* min-height: 282.93px;
        min-width: 175.2px; */
    }

    .text-about {
        display: flex;
        width: 40%;
        height: auto; /* Alterado para altura automática */
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1%; /* Ajustado para um valor menor */
        flex-shrink: 0;
    }

    .name-about {
        width: 100%; /* Alterado para largura de 100% */
        height: auto; /* Alterado para altura automática */
        flex-shrink: 0;
        color: #EBECEC;
        font-family: Montserrat;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .description-about {
        width: 100%; /* Alterado para largura de 100% */
        height: auto; /* Alterado para altura automática */
        flex-shrink: 0;
        color: #EBECEC;
        font-family: Montserrat;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media (max-width: 320px) and (min-width: 0px) {
    
    .About {
        display: flex;
        width: 100%;
        height: auto; /* Alterado para altura automática */
        padding: 8px 0px;
        justify-content: center;
        align-items: center;
        gap: 2%; /* Ajustado para um valor menor */
        flex-shrink: 0;
        margin-top: 55px;
        margin-bottom: 55px;
    }

    .square-image {
        display: flex;
        width: 50%; /* Alterado para uma porcentagem */
        height: 'auto';
        max-width: 301.5px; /* Adicionado max-width para limitar o tamanho máximo */
        border-radius: 14px;
        background: #0F71F2;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.50);
        justify-content: center;
        align-items: flex-end;
    }

    .Photo1 {
        width: 50%;
        height: 'auto';
        /* min-height: 282.93px;
        min-width: 175.2px; */
    }

    .text-about {
        display: flex;
        width: 50%;
        height: auto; /* Alterado para altura automática */
        max-height: 130px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1%; /* Ajustado para um valor menor */
        flex-shrink: 0;
        margin-left: 5px;
    }

    .name-about {
        width: 100%; /* Alterado para largura de 100% */
        height: auto; /* Alterado para altura automática */
        flex-shrink: 0;
        color: #EBECEC;
        font-family: Montserrat;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .description-about {
        width: 100%; /* Alterado para largura de 100% */
        height: auto; /* Alterado para altura automática */
        flex-shrink: 0;
        color: #EBECEC;
        font-family: Montserrat;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
/* 
    .IMG-briefcase {
        width: 15%;
        height: 24%;
    }

    .IMG-bar-chart {
        width: 16%;
        height: 24%;
    }

    .IMG-wrench {
        width: 13%;
        height: 20%;
    }

    .IMG-pencil {
        width: 13%;
        height: 20%;
    } */
}

.what-we-do {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18%;
    padding: 0px 16px 0px 16px;
    align-items: center;
    align-content: center;
    background: #0F88F2;
    
}

.div-title-what-we-do {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 'auto';
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.title-what-we-do {
    color: var(--Branco, #EBECEC);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
    margin-top: 30px;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 384px;
    justify-content: center;
    align-items: center;
    /* align-content: flex-start; */
    gap: 16px 8px;
    flex-wrap: nowrap;
    margin-bottom: 5%;
}

.square-box {
    display: flex;
    width: 50%;
    height: 20%;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 14px;
    background: #0F71F2;
}

.square-box1 {
    display: flex;
    width: 50%;
    height: 20%;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 14px;
    background: #0F71F2;
}

.text-cards {
    color: var(--Branco, #EBECEC);
    font-family: Montserrat;
    margin: 3px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.IMG-briefcase {
    margin: 3px;
    width: 20px;
    height: 30px;
}

.IMG-bar-chart {
    margin: 3px;
    width: 20px;
    height: 30px;
}

.IMG-wrench {
    margin: 3px;
    width: 20px;
    height: 30px;
}

.IMG-pencil {
    margin: 3px;
    width: 20px;
    height: 30px;
}

.button-we-do {
    display: flex;
    width: 180px;
    height: 60px;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #EBECEC;
    border: 0px;
}

.text-button {
    color: #9AD914;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

@media (max-width: 561px) {
    .what-we-do {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 18%;
        padding: 0px 16px 0px 16px;
        align-items: center;
        align-content: center;
        background: #0F88F2;
        
    }

    .div-title-what-we-do {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 'auto';
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }

    .title-what-we-do {
        color: var(--Branco, #EBECEC);
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 384px;
        justify-content: center;
        align-items: center;
        /* align-content: flex-start; */
        gap: 16px 8px;
        flex-wrap: nowrap;
        margin-bottom: 5%;
    }

    .square-box {
        display: flex;
        width: 90%;
        height: 20%;
        padding: 8px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-shrink: 0;
        border-radius: 14px;
        background: #0F71F2;
    }

    .square-box1 {
        display: flex;
        width: 90%;
        height: 20%;
        padding: 8px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-shrink: 0;
        border-radius: 14px;
        background: #0F71F2;
    }

    .text-cards {
        color: var(--Branco, #EBECEC);
        font-family: Montserrat;
        margin: 3px;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .IMG-briefcase {
        margin: 3px;
        width: 20px;
        height: 30px;
    }

    .IMG-bar-chart {
        margin: 3px;
        width: 20px;
        height: 30px;
    }

    .IMG-wrench {
        margin: 3px;
        width: 20px;
        height: 30px;
    }

    .IMG-pencil {
        margin: 3px;
        width: 20px;
        height: 30px;
    }

    .button-we-do {
        display: flex;
        width: 150px;
        height: 30px;
        padding: 8px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 50px;
        background: #EBECEC;
        border: 0px;
        margin-bottom: 25px;
    }

    .text-button {
        color: #9AD914;
        text-align: center;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
}

.info-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 'auto';
    justify-content: center; 
    align-items: center; 
    margin-bottom: 30px;
} 

.title-info {
    color: var(--Branco, #EBECEC);
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
    margin-top: 30px;
}

.social-media-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.content-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-info {
    display: flex;
    width: 'auto';
}

.social-medias {
    display: flex;
    flex-direction: row;
    width: 'auto';
    gap: 15px;
}

.social-media-text {
    
}

.txt-logoW {
    color: var(--Branco, #EBECEC);
    font-family: Montserrat;
    font-size: 100%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    height: 20px;
}

.txt-logoI {
    color: var(--Branco, #EBECEC);
    font-family: Montserrat;
    font-size: 100%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    text-align: center;
    height: 20px;
}

.txt-logoF {
    color: var(--Branco, #EBECEC);
    font-family: Montserrat;
    font-size: 100%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;    
    height: 20px;
}

.infos {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.img-logo {
    width: 20%;
    height: 'auto';
}

.vector-img {
    width: 100%;
    height: 'auto';
}

@media (max-width: 510px) {
    .txt-logoW {
        color: var(--Branco, #EBECEC);
        font-family: Montserrat;
        font-size: 60%;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        height: 20px;
    }
    
    .txt-logoI {
        color: var(--Branco, #EBECEC);
        font-family: Montserrat;
        font-size: 60%;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    
        text-align: center;
        height: 20px;
    }
    
    .txt-logoF {
        color: var(--Branco, #EBECEC);
        font-family: Montserrat;
        font-size: 60%;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;    
        height: 20px;
    }

    .social-media-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .infos {
        display: flex;
        text-align: center;
        align-items: center;
        gap: 10px;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
    }
    
    .img-logo {
        width: 20%;
        height: 'auto';
    }
    
    .img-info {
        display: flex;
        width: 50%;
    }

    .vector-img {
        width: 100%;
        height: 'auto';
    }
}

.jobs {
    width: 100%;
    height: 80%;
    align-self: center;
    background-color: #EBECEC;
    padding: 20px;
}

.squares {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.squares1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.squares2 {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.square-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.img-job {
    width: 18px;
    height: 18px;

}

.text-job {
    margin: 0px;
    margin-left: 5px;
    font-size: 11px;
    color: #0F71F2;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: auto;
}

.title-job {
    margin: 0px;
    margin-left: 5px;
    font-size: 30px;
    color: #0F71F2;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #111;
    height: 100px;
}

.img {
    width: 10%;
}

.h1-footer {
    color: var(--Branco, #EBECEC);
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-about, .square-image, .Photo1 {
    visibility: hidden;
}

.square-box1, .square-box, .button-we-do, .div-title-what-we-do{
    visibility: hidden;
}

.title-info, .img-info, .img-logo, .txt-logoW, .txt-logoI, .txt-logoF{
    visibility: hidden;
}

.squares1, .squares2, .title-job {
    visibility: hidden;
}

.dropdown {
    background-color: transparent;
}

.btn {
    background-color: transparent;
}
.btn-secondary {
    background-color: transparent;
}
.dropdown-toggle {
    background-color: transparent;
}